/.idea/
# Allow codestyle to be synced with project
!/.idea/
/.idea/*
!/.idea/codeStyles

#generated form laravel-ide-helper
.phpstorm.meta.php

/node_modules
/public/hot
/public/storage
/public/media
/storage/*.key
/vendor

.env

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.ddev
