:root {
    --test_case_controls_opacity: 0;
}

/****************************************************
* Suites Tree
****************************************************/

#suites_tree_col {
    height: calc(100vh - var(--header_height));
    background:  #f4f6f9;
    overflow: hidden;
}

#tree {
    padding-bottom: 40px !important;
}

.selected {
    border: 1px solid rgba(25, 54, 84, 0.22) !important;
    background: #edf7fb !important;
    border-radius: 3px;
}

/****************************************************
* Test cases list
****************************************************/
#test_cases_list_col {
    min-width: 30%;
}

.test_case_clickable_area {
    width: 100%;
    cursor: pointer;
}

.test_case_controls {
    min-width: 70px;
}

.test_case:hover {
    background: #7c87911c;
    --test_case_controls_opacity: 1;
}

.test_case_info {
    min-width: 140px;
}

.test_case_controls {
    opacity: var(--test_case_controls_opacity);
    transition: 0.3s;
}

/****************************************************
* Test case editor area
****************************************************/

#test_case_col {
    /*background:  #f4f6f9;*/
}

/****************************************************/
.overlay {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    background-color: #00000038;
}
