#suites_tree_col {
    height: calc(100vh - var(--header_height));

    /*min-width: 500px;*/
    /*max-width: 50%;*/

    background:  #f4f6f9;
    overflow: hidden;
}

#tree {
    padding-bottom: 40px !important;
}


.selected {
    border: 1px solid #193654 !important;
    background: #edf7fb !important;
    border-radius: 3px;
}

/****************************************************/
#test_cases_list_col {
    min-width: 30%;
}

.test_case_clickable_area {
    width: 100%;
    cursor: pointer;
}

.test_case_controls {
    width: 70px;
}

.test_case:hover {
    background: #7c87911c;
}

/****************************************************/
#test_case_col {
    /*min-width: 30%;*/
}



/****************************************************/
.overlay {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    background-color: #00000038;
}
